<footer class="bg-dark text-white text-center py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <p>Your trusted online shopping destination for quality products at great prices.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-white-50 text-decoration-none">Home</a></li>
                    <li><a href="{% url 'products:product_list' %}" class="text-white-50 text-decoration-none">Products</a></li>
                    <li><a href="{% url 'users:user_profile' %}" class="text-white-50 text-decoration-none">My Account</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Contact Us</h5>
                <p class="text-white-50">
                    Email: info@ecommerce.com<br>
                    Phone: +1 (555) 123-4567
                </p>
            </div>
        </div>
        <hr class="my-3">
        <p class="mb-0">&copy; 2024 E-Commerce Store. All rights reserved.</p>
    </div>
</footer>
